block footer
  .footer
    | this is default footer 1
block copyFooter
  .copy-footer.text-center.bg-primary.mt-5.mt-md-1
    p.text-white.mb-0.pt-2.lead.fw-300 &copy; all right reserved for Anas Omar
    .icons
      i.fab.fa-facebook.text-white.mr-2.custom-fa
      i.fab.fa-twitter.text-white.mr-2.custom-fa
      i.fab.fa-instagram.text-white.mr-2.custom-fa
      i.fab.fa-youtube.text-white.mr-2.custom-fa
block jsFooter
  // jquery js file
  script(src='../dist/js/jquery.min.js')
  // bootstrap js file
  script(src='../dist/js/bootstrap.min.js')
  // popper js file
  script(src='../dist/js/popper.min.js')
  // vendor script
  script(src='../dist/js/vendor_script.min.js')
  // netflixify js file
  script(src='../dist/js/netflixify.min.js')