meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

//- default css style
block css
  // bootstrap file
  link(rel='stylesheet' href='../dist/css/bootstrap.min.css')
  // vendor file
  link(rel='stylesheet' href='../dist/css/vendor.min.css')
  // google font
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet")
  // netflixify file
  link(rel='stylesheet'  type="text/css" href='../dist/css/netflixify.min.css')
//-- default title
block title
  title Netflixify